# Remove Duplicates

In [ ]:
# Remove all duplicate rows

df.drop_duplicates(keep=False)

# Delete duplicate rows based on specific columns (Name and Age)

df.drop_duplicates(subset=["Name", "Age"], keep=False)

# dropping column with all null values

df.dropna(axis=1, how='all', inplace=True)

# What does axis 1 inplace true mean?
# axis=1 indicates that we should remove a column ( axis=0 will attempt to remove a row). 
# inplace=True tells the method to modify the current products DataFrame rather than returning a new one with the column removed.

# Indexing

In [ ]:
# setting first name as index column 
data.set_index(["First Name"], inplace = True, 
                    append = True, drop = True) 
   
# resetting index 
data.reset_index(inplace = True)

# groupby

In [ ]:
gk = df.groupby('Name')

df.groupby(['Name']).sum()

# timestamp

In [ ]:
# Extracting the hour from the Timestamp
hour = timestamp.hour
 
# Extracting the minute from the Timestamp
minute = timestamp.minute
 
# Extracting the weekday from the Timestamp
weekday = timestamp.weekday()
 
# Extracting the quarter from the Timestamp
quarter = timestamp.quarter

# visualization

In [ ]:
# https://www.geeksforgeeks.org/pandas-built-in-data-visualization-ml/?ref=lbp

import matplotlib.pyplot as plt 

plt.style.use('ggplot') 
df1['A'].hist()

df2.plot.bar()